path {stroke: none !important;}
body{ background: #FFF; overflow: hidden; font-family: 'Roboto', sans-serif;}
#path18{fill: #d4d4d4 !important;}
.levels,.mall{width:calc(100vw - 300px);}
.levels{height:100%; }
.mall{height:82%;margin-top: 8%}
.surroundings{display: none !important;}
.levels {position: absolute;top: 0;left:5%;margin:0;}
.spaces-list,.content{display: none;}
.spaces-list.active{display: block;}
.mall.mall--content-open,.mall.mall--content-open.inactive,.levels.inactive,.level.level--current.inactive{
      transform: none;-webkit-transform:none;transition-duration: 1s;
      
}

.mallnav{ display: none;}
/* .mall.mall--content-open .levels{
      transform: rotateX(0deg) rotateZ(-47deg) translateZ(-15vmin);
      left: 5%;
}
.mall.mall--content-open{
      transform: none
}
.mall.mall--content-open{
      margin-top: 14%;
      transition: 0.5s ease-in
} */
.level{transition-duration: 1s;}    
.main{width:100%;}
.pin--1-1 {top: 19vmin;left: 35vmin;}
.pin--1-2 {top: 13vmin;left: 100vmin;}
.pin--1-3 {top: 15vmin;left: 150vmin;}
.pin--1-4 {top: 40vmin;left: 168vmin;}
.pin--1-5 {top: 50vmin;left: 179vmin;}
.pin--1-6 {top: 72vmin;left: 157vmin;}
.pin--1-7 {top: 80vmin;left: 142vmin;}
.pin--1-8 {top: 45vmin;left: 85vmin;}
.levels.inactive .plan{opacity: 0.5;}
.levels.inactive .plan.plan--active{opacity: 1;}
.levels.inactive{left:0;}
.close-plan{font-size: 1.5rem;position: absolute;top: 3em;left: 0.5em;}
.grouped-by-category [data-category='1']:first-child::before, .grouped-by-category :not([data-category='1']) + [data-category='1']::before {content: 'Departments';}
.level__pins{z-index:-1;}
.mall.mall--content-open.inactive{width: calc(100% - 300px);}
.open-search, .close-search {display: none !important}
path#path14 {fill: none !important;stroke: none;}
.plan {fill: #999 !important;stroke:#ccc !important;stroke-width:5}
.trm-media.plan--active, .trm-media:hover {fill: #1689ca !important}
.trm-strategic.plan--active, .trm-strategic:hover {fill:#cdcb2b !important}
.trm-pm-quality.plan--active, .trm-pm-quality:hover {fill:#ce5627 !important}
.trm-account-sales.plan--active, .trm-account-sales:hover {fill:#0f395e !important}
.trm-creative-content.plan--active, .trm-creative-content:hover {fill:#93c840 !important}
.trm-usretail.plan--active, .trm-usretail:hover {fill:#19bfe8 !important}
.trm-analytics-insights.plan--active, .trm-analytics-insights:hover {fill:#126031 !important}
.trm-sales.plan--active, .trm-sales:hover {fill:#ce8129 !important}
.trm-marketing.plan--active, .trm-marketing:hover {fill:#cdcb2b !important}
.list__item.nav--active a{ color: #FFF; font-weight: bold}
.codrops-header{ background: #049bcd; width: 100%; padding: 2em 1em}
.codrops-header h1{ color: #FFF; font-size: 24px; font-weight: 700} 
.codrops-header h1 span{ font-weight: 300; }
.spaces-list{padding: 0em 0 1em;top: 5%;right: 4%; background: #1e282e; border-radius: 5px 5px 0 0}
.list__item {line-height: 1.8;padding: 8px 0; border-top: 1PX solid #2f4049}
.list__item:first-child{ border: 0}
.grouped-by-category [data-category='1']:first-child::before, .grouped-by-category :not([data-category='1']) + [data-category='1']::before {
      content: 'Departments - Floor II';
      top: -2.1em;
}
.grouped-by-category [data-category='1']:first-child::before, .grouped-by-category :not([data-category='1']) + [data-category='1']::before {     
      color: #1297c3;
      font-weight: bold
} 
.level--1::after{ content: "F2"}
.list__item::after{ padding: 1em 0.5em}